<div class="main">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center left">
            <div class="logo-container">
                <img src="assets/images/logo.png" alt="Logo" class="logo-img">
                <p class="text-uppercase fw-semibold logo-text">Convo box</p>
            </div>
            <div class="welcome-msg mt-5 fs-4">
                <p>Join and create chatrooms of <br/>your choice and find friends</p>
                <p class="mt-4">Enjoy...!</p>
                <button routerLink="/auth/signup" class="btn btn-primary mt-4">Sign Up</button>
            </div>
            
        </div>
        <div class="col-md-7 d-flex flex-column justify-content-center align-items-center right">
            <p class="fs-1 mb-4 form-header">Login</p>
            <form class="col-md-5">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-bottom d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p><a href="#">Forgot Password?</a></p>
                </div>
              </form> 
        </div>
    </div>
</div>
