<div class="main">
    <div class="row">
        <div class="col-md-3 left">
            <div class="profile d-flex align-items-center mt-3 mb-5 ps-2">
                <div class="avatar bg-white me-4">
                    <img src="assets/images/logo.png"
                      class="rounded-circle img-fluid" style="width: 50px;"/>
                  </div>
                <div class="user-name fw-bold fs-5">Nkopane Molefi</div>
            </div>
            <div class="rooms ps-2">
                <div class="header d-flex mb-3">
                    <div class="icon me-2">
                        <fa-icon [icon]="faUsersRect"></fa-icon>
                    </div>
                    <div class="header-text">
                        <p class="fw-semibold">Chat Rooms</p>
                    </div>
                </div>
                <hr/>
                <div class="room-list mt-2">
                    <div class="room d-flex align-items-center pb-1">
                        <div class="avatar bg-white me-2">
                            <img src="assets/images/logo.png"
                              class="rounded-circle img-fluid" style="width: 35px;"/>
                        </div>
                        <div class="room-info">
                            <div class="room-name">React Developers</div>
                            <div class="online-count">online  4</div>
                        </div>
                    </div>
                    <div class="room d-flex align-items-center pb-1">
                        <div class="avatar bg-white me-2">
                            <img src="assets/images/logo.png"
                              class="rounded-circle img-fluid" style="width: 35px;"/>
                        </div>
                        <div class="room-info">
                            <div class="room-name">React Developers</div>
                            <div class="online-count">online  4</div>
                        </div>
                    </div>
                    <div class="room d-flex align-items-center pb-1">
                        <div class="avatar bg-white me-2">
                            <img src="assets/images/logo.png"
                              class="rounded-circle img-fluid" style="width: 35px;"/>
                        </div>
                        <div class="room-info">
                            <div class="room-name">React Developers</div>
                            <div class="online-count">online  4</div>
                        </div>
                    </div>
                    <div class="room d-flex align-items-center pb-1">
                        <div class="avatar bg-white me-2">
                            <img src="assets/images/logo.png"
                              class="rounded-circle img-fluid" style="width: 35px;"/>
                        </div>
                        <div class="room-info">
                            <div class="room-name">React Developers</div>
                            <div class="online-count">online  4</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-room-btn btn col-md-3">
                <fa-icon [icon]="faPlus"></fa-icon>
                Create Room
            </div>
        </div>
        <div class="col-md-7 mid">
            <div class="chat-header d-flex justify-content-center align-items-center fs-2 p-3">
                <div class="avatar bg-white me-4">
                    <img src="assets/images/logo.png"
                      class="rounded-circle img-fluid" style="width: 60px;"/>
                  </div>
                <div class="header-text">
                    React Developers
                </div>
            </div>
            <hr>
            <div class="chat px-2 pt-3 flex-column">
                <div class="message d-flex pt-3">
                 <div class="avatar bg-white me-1">
                        <img src="assets/images/logo.png"
                          class="rounded-circle img-fluid" style="width: 25px;"/>
                  </div>
                  <div class="message-container">
                    <div class="message-details d-flex align-items-center">
                        <p class="username me-1 fw-semibold">Justice</p>
                        <p class="separator">~</p>
                        <p class="time ms-1">12:00</p>
                    </div>
                    <div class="message-text p-1 fs-6">
                        <p>Wow, I hope you guys are enjoying yourselves in here.</p>
                    </div>
                  </div>
                </div>

                <div class="message d-flex pt-3">
                    <div class="avatar bg-white me-1">
                           <img src="assets/images/logo.png"
                             class="rounded-circle img-fluid" style="width: 25px;"/>
                     </div>
                     <div class="message-container">
                       <div class="message-details d-flex align-items-center">
                           <p class="username me-1 fw-semibold">Justice</p>
                           <p class="separator">~</p>
                           <p class="time ms-1">12:00</p>
                       </div>
                       <div class="message-text p-1 fs-6">
                           <p>Wow, I hope you guys are enjoying yourselves in here.</p>
                       </div>
                     </div>
                   </div>

                   <div class="message d-flex pt-3">
                    <div class="avatar bg-white me-1">
                           <img src="assets/images/logo.png"
                             class="rounded-circle img-fluid" style="width: 25px;"/>
                     </div>
                     <div class="message-container">
                       <div class="message-details d-flex align-items-center">
                           <p class="username me-1 fw-semibold">Justice</p>
                           <p class="separator">~</p>
                           <p class="time ms-1">12:00</p>
                       </div>
                       <div class="message-text p-1 fs-6">
                           <p>Wow, I hope you guys are enjoying yourselves in here.</p>
                       </div>
                     </div>
                   </div>
            </div>
        </div>
        <div class="col-md-2 right"></div>
    </div>
</div>